<div id="modalBackdrop" class="backdrop d-none">
    <div class="modal">
        <h2>Modal Title</h2>
        <p class="content"></p>
        <button id="closeModalBtn">Close</button>
    </div>
</div>