<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{{title}}}</title>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/modal.css">
    <link rel="stylesheet" href="/styles/utils.css">
</head>

<body>
    {{{body}}}
    <script src="/js/generateCalendar.js" type="module"></script>
    <script src="/js/modal.js" type="module"></script>
</body>

</html>