<div class="calendar-container">
    <div class="navigation">
        {{> leftArrow}}
        <span class="month-title" id="month-title">Loading...</span>
        {{> rightArrow}}
    </div>
    <div id="calendar" class=""></div>
</div>