<div class="calendar-container d-flex flex-column align-items-center">
    <div class="navigation w-100 d-flex justify-content-center">
        <span class="month-title" id="month-title"></span>
    </div>

    <div class="arrow-calendar-container d-flex align-items-center">
        {{> leftArrow}}
        <div id="calendar" class="ml-3 mr-3"></div>
        {{> rightArrow}}
    </div>
</div>

{{> modal }}
{{> logoutButton}}