.calendar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#calendar {
    margin: 0 1rem;
}

.arrow-calendar-container {
    display: flex;
    align-items: center;
}

.navigation {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}

.arrow {
    font-size: 30px;
    cursor: pointer;
    color: #333;
}

.month-title {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 5px;
    justify-items: center;
    transition: opacity 0.5s, transform 0.5s;
}

.day {
    width: 5rem;
    height: 5rem;
    padding: 1rem;
    font-size: 1.5rem;
    background-color: #f2f2f2;
    display: flex;
    align-items: end;
    justify-content: end;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.day-off {
    background-color: #bfbdbd;
}

.day:not(.day-off):hover {
    background-color: #87CEEB;
}

.day-header {
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
}

.day.disabled {
    background-color: #ddd;
    cursor: not-allowed;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-50px);
    }
}

.fade-in {
    animation: fadeIn 0.1s ease-out forwards;
}

.fade-out {
    animation: fadeOut 0.1s ease-out forwards;
}