.arrow-calendar-container {
    min-height: 740px;
}

.arrow {
    font-size: 30px;
    cursor: pointer;
    color: #333;
}

.month-title {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 5px;
    justify-items: center;
    transition: opacity 0.5s, transform 0.5s;
}

.day {
    width: 5rem;
    height: 5rem;
    padding: 1rem;
    font-size: 1.5rem;
    background-color: #f2f2f2;
    display: flex;
    align-items: end;
    justify-content: end;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.day:hover {
    background-color: #007bff;
    color: white;
}

.day-header {
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
}

.day.disabled {
    background-color: #bfbdbd;
    cursor: not-allowed;
}

.fade-in {
    animation: fadeIn 0.1s ease-out forwards;
}

.fade-out {
    animation: fadeOut 0.1s ease-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-50px);
    }
}

#loginButton,
#registerButton {
    background: none;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    outline: none;
    font-size: 1.2rem;
}

.form-toggle button.active {
    color: #007bff;
    border-bottom: 2px solid #007bff;
}

.form-container {
    display: none;
}

.form-container.active {
    display: block;
}
